.page-header {
    background-color: #941a26;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #1c1f1e;
    font-size: 37pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Arial Bolt', cursive;
}

.date {
    color: #a09aed;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #70bef3;
    float: right;
    font-size: 30pt;
    margin-right: 25px;
}

.post {
    margin-bottom: 120px;
}

.post h1 a, .post h1 a:visited {
    color: rgb(184, 236, 214);
    margin-right: 13px;
    background-image: url(https://www.wallpapertip.com/wmimgs/4-42891_dark-anonymous-wallpaper-4k.jpg);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow .5s;
    font-weight: bold;
    

    

    
}
body{
    background-image: url(https://i.redd.it/t3avh975kzm41.jpg);
}
p{
    color: #9191aa;
    background-image: url(https://www.wallpapertip.com/wmimgs/4-42891_dark-anonymous-wallpaper-4k.jpg);
    font-size: 15pt;
    font-family: 'Arial Bolt', fantasy;
}
