.page-header {
    background-color: #541e23;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #098555;
    font-size: 37pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Marker Felt', fantasy;
}

.date {
    color: #a09aed;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #f1e7e7;
    float: right;
    font-size: 30pt;
    margin-right: 25px;
}

.post {
    margin-bottom: 120px;
}

.post h1 a, .post h1 a:visited {
    color: #13d1b8bd;
}
body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/529/555/624/mask-neon-person-photography-wallpaper-preview.jpg);
}
p{
    color: #c9aa9f;
    font-size: 15pt;
    font-family: 'Comic Sans MS', cursive;
}